@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

@import '_common';

@import '_variables';
@import './../../node_modules/vue2-animate/src/sass/vue2-animate.scss';

html, body {
	height: 100%;
}
body, .basic-layout {
	background-color: #e6c48b;
}


.bg-breadcrumbs {
	background-color: #c5a671;
	a {
		color: black;
	}
}

.colored-cards {
	:nth-child(1n+0) {
		.card {
		  background-color: #9297ff;
		}
	}
	:nth-child(2n+0) {
		.card {
		  background-color: #f7f785;
		}
	}
	:nth-child(3n+0) {
		.card {
		  background-color: #74d871;
		}
	}
	:nth-child(4n+0) {
		.card {
		  background-color: #f56d72;
		}
	}
}