@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

@import '_common';

@import '_variables';
@import './../../node_modules/vue2-animate/src/sass/vue2-animate.scss';

