@import '~bootstrap/scss/bootstrap';
@import '~sweetalert2/src/sweetalert2';

@import 'elements/card';
@import 'elements/navbar';
@import 'elements/buttons';
@import 'elements/transitions';

@import '_common';

@import '_variables';
@import './../../node_modules/vue2-animate/src/sass/vue2-animate.scss';

html, body {
	height: 100%;
}
body, .basic-layout {
	background-color: #e6c48b;
}


.container {
	max-width: 100%;
}

.bg-breadcrumbs {
	background-color: #c5a671;
	a {
		color: black;
	}
}



.item-locked {
	position: relative;
	&:before {
		content: '';
		display: block;
		background: rgba(0, 0, 0, .6);
		position: absolute;
		height: 100%;
		width: 100%;
	}
	&:after {
		content: '';
		display: block;
		background-image: url('/images/padlock.svg') ;
		opacity: 0.5;
		filter: alpha(opacity=50); /* For IE8 and earlier */
		background-repeat: no-repeat;
		background-size: contain;
		position: absolute;
		height: 100%;
		width: 100%;
	}
}