 @import '~startbootstrap-sb-admin/scss/sb-admin';
 @import '_common';
 @import 'backend/switch';

 // ### For Backend ovverides
.sidebar {
  &.navbar-nav {
    .dropdown-menu { background-color:transparent; 
      .dropdown-item { color: #fff;}
    }
  }
}

// temp fix for datatables pagination

#dataTable_paginate {
	a.paginate_button {
		@extend .btn;
		margin-left: 3px;
		&.current {
			@extend .btn-outline-primary;
		}
		&.previous {
			@extend .btn-light;
		}
		&.next {
			@extend .btn-primary;
		}
	}
}
