 @import '~startbootstrap-sb-admin/scss/sb-admin';


.card {
	background-color: #e9ecef;
}

 @import '_common';
 @import 'backend/switch';

 // ### For Backend ovverides
.sidebar {
  &.navbar-nav {
    .dropdown-menu { background-color:transparent; 
      .dropdown-item { color: #fff;}
    }
  }
}

// temp fix for datatables pagination

#dataTable_paginate {
	a.paginate_button {
		@extend .btn;
		margin-left: 3px;
		&.current {
			@extend .btn-outline-primary;
		}
		&.previous {
			@extend .btn-light;
		}
		&.next {
			@extend .btn-primary;
		}
	}
}

.bg-dark {
	background-color: #4BBE47 !important;
	a {
		color: #3d3e40 !important;
	}
}

body {
	background-color: #e6c48b;
}

footer.sticky-footer {
	width: 100% !important;
}
